<?js
function egret_log(obj) {
    var slog;
    if (typeof(obj) == "object") {
        slog = JSON.stringify(obj, null, "\t");
    }
    else {
        slog = obj;
    }
?>
<?js= slog?>
<?js
}
?>


<?js
var data = obj;
var self = this;

    egret_log("\"" + id + "\"" + " :");
    egret_log(data);
?>
